* text=auto

/tests export-ignore
/browser export-ignore
/.github export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/.php-cs-fixer.php export-ignore
/composer.lock export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
